.grid {
  display: grid;
}

div {
  margin-top: 10px;
  margin: 15px;
  text-align: center;
  font-size: 30px;
}

.grid-1 {
  grid-template-columns: repeat(1, 100%);
}

.grid-2 {
  grid-template-columns: repeat(2, 50%);
}

.grid-3 {
  grid-template-columns: repeat(3, 33.3333333333%);
}

.grid-4 {
  grid-template-columns: repeat(4, 25%);
}

.grid-5 {
  grid-template-columns: repeat(5, 20%);
}

.grid-6 {
  grid-template-columns: repeat(6, 16.6666666667%);
}

.grid-7 {
  grid-template-columns: repeat(7, 14.2857142857%);
}

.grid-8 {
  grid-template-columns: repeat(8, 12.5%);
}

.grid-9 {
  grid-template-columns: repeat(9, 11.1111111111%);
}

.grid-10 {
  grid-template-columns: repeat(10, 10%);
}

.grid-11 {
  grid-template-columns: repeat(11, 9.0909090909%);
}

.grid-12 {
  grid-template-columns: repeat(12, 8.3333333333%);
}

@media screen and (min-width: 768px) {
  .md-grid-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .md-grid-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .md-grid-3 {
    grid-template-columns: repeat(3, 33.3333333333%);
  }
  .md-grid-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .md-grid-5 {
    grid-template-columns: repeat(5, 20%);
  }
  .md-grid-6 {
    grid-template-columns: repeat(6, 16.6666666667%);
  }
  .md-grid-7 {
    grid-template-columns: repeat(7, 14.2857142857%);
  }
  .md-grid-8 {
    grid-template-columns: repeat(8, 12.5%);
  }
  .md-grid-9 {
    grid-template-columns: repeat(9, 11.1111111111%);
  }
  .md-grid-10 {
    grid-template-columns: repeat(10, 10%);
  }
  .md-grid-11 {
    grid-template-columns: repeat(11, 9.0909090909%);
  }
  .md-grid-12 {
    grid-template-columns: repeat(12, 8.3333333333%);
  }
}
#art-1 {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(67, 30, 5, 0.1019607843);
  filter: drop-shadow(0 0 10px rgba(38, 32, 32, 0.8));
  border-radius: 40px;
  padding: 20px;
}

#generos {
  width: 95%;
  padding: 30px;
  margin: auto;
}
#generos img {
  width: 120px;
}
@media screen and (max-width: 768px) {
  #generos {
    width: 90%;
  }
  #generos img {
    width: 60%;
  }
}

#g-1,
#g-2,
#g-3,
#g-4,
#g-5,
#g-6,
#g-7 {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(67, 30, 5, 0.1019607843);
  filter: drop-shadow(0 0 10px rgba(38, 32, 32, 0.8));
  border-radius: 40px;
}

#anuncios extend .syle-lts {
  width: 80%;
}

#notice .title-1 {
  font-size: 80px;
}
#notice p {
  color: hsl(137.9220779221, 66.9565217391%, 25.0980392157%);
}
#notice .img-1,
#notice .img-2,
#notice .img-3 {
  width: 90%;
}

textarea {
  resize: none;
  width: 90%;
  color: hsl(218.961038961, 66.9565217391%, 25.0980392157%);
  padding: 10px;
}

.form-registro {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(67, 30, 5, 0.1019607843);
  filter: drop-shadow(0 0 10px rgba(38, 32, 32, 0.8));
  border-radius: 40px;
  width: 95%;
  padding: 30px;
  margin: auto;
}
.form-registro img {
  width: 120px;
}
@media screen and (max-width: 768px) {
  .form-registro {
    width: 90%;
  }
  .form-registro img {
    width: 60%;
  }
}
.form-registro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.form-registro input {
  display: block;
  width: 90%;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 20px;
  padding: 7px;
}

.libro:nth-child(odd) {
  background-color: rgba(68, 119, 186, 0.3294117647);
  border-radius: 40px;
}

.libro:nth-child(odd) {
  background-color: rgba(68, 119, 186, 0.3294117647);
  border-radius: 40px;
}

.libro:nth-child(odd) {
  background-color: rgba(68, 119, 186, 0.3294117647);
  border-radius: 40px;
}

.libro:nth-child(odd) {
  background-color: rgba(68, 119, 186, 0.3294117647);
  border-radius: 40px;
}

.libro:nth-child(odd) {
  background-color: rgba(68, 119, 186, 0.3294117647);
  border-radius: 40px;
}

.libro:nth-child(even) {
  background-color: rgba(8, 66, 17, 0.2784313725);
  border-radius: 40px;
}

.libro-1 {
  margin-bottom: 20px;
  padding: 20px;
}
.libro-1 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.libro-1 input {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.libro-2 {
  margin-bottom: 20px;
  padding: 20px;
}
.libro-2 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.libro-2 input {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.libro-3 {
  margin-bottom: 20px;
  padding: 20px;
}
.libro-3 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.libro-3 input {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.libro-4 {
  margin-bottom: 20px;
  padding: 20px;
}
.libro-4 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.libro-4 input {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.libro-5 {
  margin-bottom: 20px;
  padding: 20px;
}
.libro-5 label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.libro-5 input {
  display: block;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.entradas-libros {
  max-width: 600px;
  margin: 0 auto;
}

.libro {
  margin-bottom: 20px;
  padding: 20px;
}
.libro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.libro input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

main {
  padding: 10px;
}

.form-registro {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(67, 30, 5, 0.1019607843);
  filter: drop-shadow(0 0 10px rgba(38, 32, 32, 0.8));
  border-radius: 40px;
  width: 95%;
  padding: 30px;
  margin: auto;
}
.form-registro img {
  width: 120px;
}
@media screen and (max-width: 768px) {
  .form-registro {
    width: 90%;
  }
  .form-registro img {
    width: 60%;
  }
}
.form-registro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px;
}
.form-registro input {
  display: block;
  width: 90%;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 20px;
  padding: 7px;
}/*# sourceMappingURL=mixin.css.map */